<footer class="site-footer h-card">
  <data class="u-url" href="{{ '/' | relative_url }}"></data>

  <div class="footer-wrapper">

    <h2 class="site-logo footer-heading"><span class="gradient-text">{{ site.title | escape }}</span></h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li class="p-name">
            {%- if site.author -%}
              {{ site.author | escape }}
            {%- else -%}
              {{ site.title | escape }}
            {%- endif -%}
            </li>
            <!-- {%- if site.email -%}
              <li><a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a></li>
            {%- endif -%} -->
            <li>takeda11.kl[at]outlook.jp</li>
            <!-- <li><a href="/about">about</a></li> -->
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        {%- include social.html -%}
      </div>

      <div class="footer-col footer-col-3">
         <div class="page-links">
          {%- for path in page_paths -%}
            {%- assign my_page = site.pages | where: "path", path | first -%}
            {%- if my_page.title and my_page.title == "数学" or my_page.title == "プログラミング" -%} <!-- プロフィールへのリンク隠す 2022/05/04 -->
              {%- if lang == "en" -%}
                <a class="page-link" href="{{ my_page.url | relative_url }}">{{ my_page.dir | replace: "/", ""}}</a>
              {%- else -%}
                <a class="page-link" href="{{ my_page.url | relative_url }}">{{ my_page.title }}</a>
              {%- endif -%}
            {%- endif -%}
          {%- endfor -%}
         </div>
      </div>
    </div>

  </div>

</footer>
