<div class="recent-news">
  <!-- <h1>Upcoming Organizing Event</h1>
  <ul class="paper-list">
    <li class="paper-item">
    </li>
  </ul> -->
  <h1>Recent Paper</h1>
  <ul class="paper-list">
    <li class="paper-item">
      <div class="paper-title">Uniform error bounds of the ensemble transform Kalman filter for chaotic dynamics with multiplicative covariance inflation</div>
      <a class="paper-link" href="https://doi.org/10.1137/24M1637192">SIAM/ASA JUQ.</a>
    </li>
    <li class="paper-item">
      <div class="paper-title">Geometric Ergodicity for HMC on Compact Manifolds</div>
      <a class="paper-link" href="https://doi.org/10.1137/22M1543550">SIAM J. Numer. Anal.</a>
    </li>
  </ul>
</div>