<div class="recent-news">
  <h1>Upcoming Organizing Event</h1>
  <ul class="paper-list">
    <li class="paper-item">
      <div class="paper-title">Applied Mathematics Freshman Seminar 2024</div>
      <a class="paper-link" href="https://sites.google.com/view/app-math-freshman-seminar-2024/home">2024/11/2-4@Kyoto</a>
    </li>
  </ul>
  <h1>Recent Paper</h1>
  <ul class="paper-list">
    <li class="paper-item">
      <div class="paper-title">Uniform error bounds of the ETKF for infinite-dimensional dynamics with multiplicative covariance inflation</div>
      <a class="paper-link" href="https://arxiv.org/abs/2402.03756">arxiv:2402.03756</a>
    </li>
    <li class="paper-item">
      <div class="paper-title">Geometric Ergodicity for HMC on Compact Manifolds</div>
      <a class="paper-link" href="https://doi.org/10.1137/22M1543550">SIAM J. Numer. Anal.</a>
    </li>
  </ul>
</div>