.home {
  margin-top: $spacing-unit*3;
  .page-heading {
    text-align: center;
    font-size: 40px;
    &.first-visit {
      font-size: 32px;
    }
  }
  .page-description {
    text-align: center;
  }

  .flex-container {
    justify-content: center;
    align-content: center;
    flex-direction: column;
    .flex-item {
      padding: 10px;
      margin-right: 0;
    }
  }

  // @include fade-in(7s);

  .main-button {
    font-size: 24px;
    height: 35px ;
    padding: 5px ;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.post {
  .post-header {
    border-bottom: 1px solid $text-color;
    padding-bottom: 10px;
    .post-title {
      @include relative-font-size(2);
    }
    #tags {
      line-height: 20px;
      .tag {
        background-color: $grey-color-light;
        color: $text-color;
        border-radius: 5px;
        outline-offset: -1px;
        padding-top: auto;
        text-align: center;
        &:hover {
          color: $brand-color;
        }
      }
    }
  }
}

.tag {
  .tag-container {
    margin-bottom: 20px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}
