.home {
  font-family: $accent-font-family;
  .page-heading {
    padding-top: $spacing-unit*3;
    padding-bottom: $spacing-unit;
    text-align: center;
    font-size: 48px;
    font-weight: 100;
  }

  .page-description {
    padding: $spacing-unit/2;
    text-align: center;
    color: $grey-color;
    font-size: 20px;
  }

  .flex-container {
    margin-top: $spacing-unit;
    justify-content: center;
    align-content: center;
    flex-direction: row;
    .flex-item {
      margin-right: 0;
      width: 30%;
      height: 250px;
      a.home-panel {
        color: $main-color;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        .home-panel-content {
          height: 50%;
          padding: $spacing-unit/2;
          font-size: 36px;
          &.material-icons {
            font-size: 54px;
          }
        }
        .math-icon {
          font-family: $accent-font-family;
          font-size: 40px;
        }
      }
    }
  }

  @include media-query(900px) {
    .page-heading {
      padding-top: $spacing-unit*2;
      font-size: 24px;
    }
    .flex-container {
      flex-direction: column;
      .flex-item {
        width: 90%;
        height: 100px;
        a.home-panel {
          height: 100%;
          .home-panel-content {
            padding: $spacing-unit/4;
            font-size: 24px;
            &.material-icons {
              font-size: 36px;
            }
          }
        }
      }
    }
  }
}

.post {
  .post-header {
    padding-bottom: 10px;
    .post-title {
      @include relative-font-size(2);
    }
    #tags {
      line-height: 20px;
      .tag {
        font-size: $small-font-size;
        background-color: $grey-color-light;
        color: $grey-color;
        border-radius: 5px;
        outline-offset: -1px;
        padding-top: auto;
        text-align: center;
        &:hover {
          color: $brand-color;
        }
      }
    }
  }
}

.tag {
  .tag-container {
    margin-bottom: 20px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.posts {
  list-style: none;
  .pager {
    display: flex;
    margin-top: $spacing-unit;
    li {
      list-style: none;
      margin-right: $spacing-unit;
      a {
        color: $accent-color;
      }
    }
  }
}


// .page-content {
//   li {
//     list-style: none;
//     &::before {
//       font-family: 'Material Icons';
//       content: "\e876"; // done
//       position: absolute;
//       margin-left: -1.5em;
//     }
//   }
// }

ul.sidebar-right {
  position: sticky;
  top: 0;
  margin-right: calc(-#{$spacing-unit} * 2 - 250px);
  float: right;
  padding: $spacing-unit;
  width: 200px;

  li {
    list-style: none;
  }
}

.math-graphics {
  p img {
    width: 540px;
  }
}

.sidebar-left {
  position: sticky;
  top: 0;
  margin-left: calc(-#{$spacing-unit} * 2 - 250px);
  float: left;
  padding: $spacing-unit;
  width: 200px;
  text-align: center;
}

.personal-panel {
  h1 {
    text-align: center;
    padding-top: 0;
  }
  .small-text {
    font-size: small;
  }
  .social-icons {
    padding: $spacing-unit/2 10px;
  }
}