.home {
  margin-top: $spacing-unit*3;
  .page-heading {
    text-align: center;
    font-size: 40px;
    &.first-visit {
      font-size: 32px;
    }
  }
  .page-description {
    text-align: center;
  }

  @include fade-in(7s);

  .main-button {
    font-size: 24px;
    height: 35px ;
    padding: 5px ;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}