strong {
  border-bottom: 3px solid $accent-color;
}

.gradient-text {
  background: -webkit-linear-gradient(0deg, $accent-color, $brand-color);//背景色にグラデーションを指定
  background-clip: text; //テキストでくり抜く
  -webkit-background-clip: text; //テキストでくり抜く
  -webkit-text-fill-color: transparent; //くり抜いた部分は背景を表示
  font-family: "Segoe UI";
  font-weight: 100;
}

.main-button {
  border-radius: 5px;
  &:hover {
    @include with-shadow;
    border: 1px solid #aaa;
    outline-offset: -1px;
  }
}


.flex-container {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-wrap: wrap;

  .flex-item {
    padding: 5px;
    // flex-grow: 1;
    // flex-shrink: 0;
    // flex-basis: 400px;
    margin: 0 5px;
  }
}
