
strong {
  // background: linear-gradient(transparent 70%, lighten($accent-color, 15%) 70%); // マーカー風下線
  // font-weight: $base-font-weight*2;
}

table {
  font-size: 12px;
}

.site-logo {
  font-family: $accent-font-family !important;
  // font-family: $script-font-family !important;
  
}

.gradient-text {
  background: -webkit-linear-gradient(0deg, $accent-color, $brand-color);//背景色にグラデーションを指定
  background-clip: text; //テキストでくり抜く
  -webkit-background-clip: text; //テキストでくり抜く
  -webkit-text-fill-color: transparent; //くり抜いた部分は背景を表示
  font-weight: 100;
}

.main-button {
  border-radius: 5px;
  &:hover {
    @include with-shadow;
    border: 1px solid #aaa;
    outline-offset: -1px;
  }
}

// .transition {
//   background-repeat: no-repeat;
//   background-position: 100% 0;
//   background-size: 200% auto;
//   background-image: linear-gradient(
//     to right,
//     #f8f8f8 0%,
//     #f8f8f8 50%,
//     $base-color 50%,
//     $base-color 100%
//   );
//   transition: background-position ease 0.4s;
//   &:hover {
//     background-position: 0 0;
//   }
// }

.overlay {
  &:hover {
    background-color: darken($base-color, 10%);
  }
}

.flex-container {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-wrap: wrap;

  .flex-item {
    padding: 5px;
    // flex-grow: 1;
    // flex-shrink: 0;
    // flex-basis: 400px;
    margin: 0 5px;
  }
}

.site-footer {
  background-image: url("../../assets/img/math/uq_picture.png");
  background-color: lighten($main-color, 30%);
  background-blend-mode: lighten;
  background-size: cover;
}