<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">

  {%- include head.html -%}

  <body class>
    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        <section class="personal-panel sidebar-left">
          <div class="text-center">
            <h1 class="site-logo gradient-text">Kota Takeda</h1>
            <div class="small-text">Ph.D. student at Kyoto Univ. and JRA in R-CCS</div>
            <div class="social-icons">
              {%- include social.html -%}
            </div>
          </div>
        </section>

        {% include toc.html html=content h_min=2 h_max=3 class="sidebar-right" %}
        <!-- とりあえず必要ないのでanchorBody="" -->
        {% include anchor_headings.html html=content anchorBody=""%}
      </div>
    </main>

    {%- if page.title != 'home' -%}
      {%- include footer.html -%}
    {%- endif -%}
  </body>

</html>
