<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">

  {%- include head.html -%}

  <body class>
    {%- if page.title != 'home' -%}
      {%- include header.html -%}
    {%- endif -%}

    <main class="" aria-label="Content">

      <div class="home fade">
        <h1 class="page-heading first-visit"><span class="">竹田航太の個人サイト</span></h1>

        <div class="page-description">{{site.description}}</div>
        <div class="page-content flex-container">
          <div class="flex-item overlay main-button">
            <a class="home-panel" href="/profile/">
              <span class="material-icons home-panel-content">
                person
              </span>
              <div class="home-panel-content">プロフィール</div>
            </a>
          </div>
          <div class="flex-item overlay main-button">
            <a class="home-panel" href="/math/">
              <span class="material-icons home-panel-content">
                edit_note
              </span>
              <div class="home-panel-content">数学</div>
            </a>
          </div>
          <div class="flex-item overlay main-button">
            <a class="home-panel" href="/programming/">
              <span class="material-icons home-panel-content">
                code
              </span>
              <div class="home-panel-content">プログラミング</div>
            </a>
          </div>
        </div>
      </div>
    </main>

    {%- if page.title != 'home' -%}
      {%- include footer.html -%}
    {%- endif -%}
  </body>

</html>
