---
layout: default
---

<div class="home fade">
  <!-- <h1 class="page-heading"><span class="gradient-text">{{ site.title }}</span></h1> -->
  <h1 class="page-heading first-visit"><span class="">竹田航太のホームページへようこそ</span></h1>


  <div class="wrapper">
    <div class="page-description gradient-text">{{site.description}}</div>

    <div>
      {{ content }}
    </div>

    <div class="page-content flex-container">
      <div class="flex-item ">
        <a class="main-button" href="/profile">
          プロフィール
        </a>
      </div>
      <div class="flex-item ">
        <a class="main-button" href="/math">
          数学
        </a>
      </div>
      <div class="flex-item ">
        <a class="main-button" href="/programming">
          プログラミング
        </a>
      </div>
    </div>
  </div>
</div>
