---
layout: page
---
<section>
  {{content}}
</section>
<section>
  <div class="container posts">
    <div class="row">
      <div class="text-center">
        <h3>記事一覧</h3>
        <ul style="list-style-position: inside">
          {%- assign posts = paginator.posts -%}
          {% for post in posts %}
          <li>
            <a href="{{ post.url }}">{{ post.title }}</a>
            - {{ post.date | date: "%d %B %Y" }}
          </li>
          {% endfor %}
        </ul>

        {% if paginator.total_pages > 1 %}
          <ul class="pager">
              {% if paginator.previous_page %}
              <li class="previous">
                  <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&#12296; 新しい記事へ</a>
              </li>
              {% endif %}
              {% if paginator.next_page %}
              <li class="next">
                  <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">古い記事へ &#12297;</a>
              </li>
              {% endif %}
          </ul>
        {% endif %}
      </div>
    </div>
  </div>
</section>
